* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #333333;
}

header {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #f1f0f0;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
}

nav ul li a:hover {
  background-color: #555;
}

.hero {
  background-image: url('css/1.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
}

.btn:hover {
  background-color: #555555;
}

.about {
  background-color: #ffffff;
  padding: 40px 0;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.about p {
  font-size: 16px;
  color: #777777;
}

.services {
  background-color: #f9f9f9;
  padding: 40px 0;
}

.services h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.service-item {
  text-align: center;
  margin-bottom: 40px;
}

.service-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.service-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.service-item p {
  font-size: 16px;
  color: #777777;
}

footer {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
