* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #0c0c0c;
    color: #333333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
}

header h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #f8f4f4;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
}

footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.hero-image {
    background-image: url('1.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text { 
    color: #ffffff;
    font-size: 36px;
}

.menu-item {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fcf8f5;
}

.menu-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 16px;
    color: #777777;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-form input[type="submit"] {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #555555;
}

.order-form {
    max-width: 400px;
    margin: 0 auto;
}

.order-form label {
    display: block;
    margin-bottom: 5px;
}

.order-form select,
.order-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.order-form input[type="submit"] {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.order-form input[type="submit"]:hover {
    background-color: #555555;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

table th {
    background-color: #333333;
    color: #ffffff;
}

table td {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #dddddd;
}
