body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #020202;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

li img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    object-fit: cover;
}

li h3 {
    margin: 0;
    font-size: 18px;
}

li p {
    margin: 0;
    font-size: 16px;
    color: #888;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

@media (max-width: 600px) {
    header {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    nav ul li {
        margin-right: 5px;
    }

    section {
        padding: 10px;
    }

    h2 {
        font-size: 20px;
    }

    li img {
        width: 80px;
        height: 80px;
        margin-right: 5px;
    }

    li h3 {
        font-size: 16px;
    }

    li p {
        font-size: 14px;
    }

    footer {
        padding: 5px;
    }
}
